<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nourelhoudazribi.aaychfanni">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--sign in and sign up activities-->

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Signup" />

        <activity android:name=".cmc_fan" />
        <activity android:name=".Compte_nour" />
        <activity android:name=".devenir_createur">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profil_createur"></activity>


        <activity android:name=".utilisateur.fragments_activity.fragments_activity.theEssentialActivity">
        </activity>

        <!--Compte activities-->
        <activity android:name=".utilisateur.fragments_activity.compte.modifierVotreProfil">

        </activity>
        <activity android:name=".utilisateur.fragments_activity.compte.profileActivity">

        </activity>
        <activity android:name=".utilisateur.fragments_activity.compte.Parametres">

        </activity>

        <activity android:name=".utilisateur.fragments_activity.compte.VosCreateurs">

        </activity>

        <activity android:name=".utilisateur.fragments_activity.compte.VosSupporteurs">

        </activity>

        <activity android:name=".utilisateur.fragments_activity.compte.RechargerVotreSolde">

        </activity>

        <activity android:name=".utilisateur.fragments_activity.compte.GenererLesCodes">

        </activity>
        <activity android:name=".utilisateur.fragments_activity.compte.ConsulterLesCodes">

        </activity>
        <activity android:name=".utilisateur.fragments_activity.messages.Messages">

        </activity>
        <activity android:name=".utilisateur.fragments_activity.messages.MessagesChatRoom">

        </activity>



        <!--Demarrer-->

        <activity android:name=".demarrer_1">

        </activity>
        <activity android:name=".demarrer_2">
        </activity>
        <activity android:name=".demerrer_3" />
        <activity android:name=".signup_createur2">
        </activity>

        <!--Support activities-->
        <activity android:name=".utilisateur.fragments_activity.supporter.supporterLayoutOne">

        </activity>

        <activity android:name=".utilisateur.fragments_activity.supporter.supporterLayoutTwo">

        </activity>

        <activity android:name=".utilisateur.fragments_activity.supporter.supporterLayoutThree">

        </activity>

        <!---->

        <!--Share actvities-->
        <activity android:name=".utilisateur.fragments_activity.share.ShareOne">

        </activity>
        <activity android:name=".utilisateur.fragments_activity.share.ShareTwo">

        </activity>
        <activity android:name=".utilisateur.fragments_activity.share.TakePhoto">

        </activity>

        <!--Explorer actvities-->
        <activity android:name=".utilisateur.fragments_activity.explorer.ExploreCategoryActivity">

        </activity>


    </application>

</manifest>