<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.ayech_fanni_copie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".utilisateur.fragments_activity.sign_up_and_in.MainActivity">

        </activity>
        <activity android:name=".utilisateur.fragments_activity.fragments_activity.theEssentialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".utilisateur.fragments_activity.supporter.supporterLayoutOne">

        </activity>

        <activity android:name=".utilisateur.fragments_activity.supporter.supporterLayoutTwo">

        </activity>

        <activity android:name=".utilisateur.fragments_activity.supporter.supporterLayoutThree">

        </activity>



    </application>

</manifest>